/* 导航栏样式 */
.navbar {
    position: fixed;
    overflow: hidden;
    background-color: rgb(51, 151, 222, 0.8);
    top: 0; /* Align it to the top */
    width: 100%; /* Take the full width of the viewport */
    z-index: 1000; /* Ensure it's above other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
}

/* Styles for the left section of the navbar */
.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left .navbar-title {
    color: rgb(227, 239, 223);
    text-decoration: none;
    padding: 15px 20px;
    font-size: 26px;
    font-weight: bold;
    display: inline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar-left .navbar-l-link {
    color: rgb(227, 239, 223);
    text-decoration: none;
    padding: 19px 20px;
    font-size: 18px;
    font-weight: normal;
    display: inline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Styles for the right section of the navbar */
.navbar-right{
    display: flex;
    font-weight: 200;
    align-items: center;
}

.navbar-right .navbar-login {
    color: rgb(227, 239, 223);
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    float: right;
}

.navbar-right .login-inf {
    color: rgb(227, 239, 223);
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    float: right;
}

.navbar-right .navbar-logout {
    color: rgb(227, 239, 223);
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 25px 0px;
    margin-right: 25px;
    float: right;
}

.navbar-right .navbar-separator {
    color: rgb(227, 239, 223);
    font-size: 17px;
    padding: 0px 20px;
    line-height: 1;
    transform: translateY(-8%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar-right .navbar-register {
    color: rgb(227, 239, 223);
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    float: right;
}

/* 搜索容器样式 */
.search-container {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.navbar-right input[type="text"] {
    padding: 6px;
    font-size: 16px;
    border: none;
    padding-right: 10px;
    border-radius: 7px;
}

.navbar-right .search-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 28px;
    right: 20px;
    transform: translateY(-47%);
}

/* 悬浮效果 */
.navbar-left .navbar-title:hover,
.navbar-left .navbar-l-link:hover,
.navbar-right .navbar-login:hover,
.navbar-right .navbar-register:hover,
.search-icon:hover,
.navbar-left-fileinf .file-name:hover,
.navbar-left-fileinf .uploader:hover {
    color: rgb(226, 25, 25); /* Change the color to red */
    font-weight: bold; /* Make the font bold */
}
