{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video List</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
    <link rel="stylesheet" href="{% static 'ripple.css' %}">
    <link rel="stylesheet" href="{% static 'videos.css' %}">

    <!--js File loader-->
    <script src="{% static 'ripples.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>


</head>

<body>
    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'introduction' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'upload' %}" class="navbar-l-link">Upload</a>
            <a href="{% url 'video_list' %}" class="navbar-l-link">Videos</a>
            <a href="#exports" class="navbar-l-link">Exports</a>
        </div>
    
        <!-- Right section of the navbar -->
        <div class="navbar-right">
            {% if user.is_authenticated  %}
            <a href="{% url 'login' %}" class='login-inf'>Welcome, {{ user.username }}!</a>
            <a href="{% url 'logout' %}" class='navbar-logout'>Logout</a>
            {% else  %}
            <a href="{% url 'login' %}" class="navbar-login">Login</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
            {% endif  %}
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <div class="search-icon" onclick="performSearch()">
                    <span>&#128269;</span>
                </div>
            </div>
        </div>
    </div>

    <!-- 筛选功能 -->
    <div class="filter-container">

    </div>

    <!-- 视频列表 -->
    <div class="video-grid">
        {% for video in videos %}
        <div class="video-item">
            <div class="video-preview">
                <a href="{{ video.video_file.url }}">
                    <img src="{{ video.preview_file.url }}" alt="No Preview Image">
                </a>
                <div class="annotation-overlay">
                    <a href="{% url 'annotation' video.id %}">
                        <p class="annotation-info">{% if video.annotated %}Annotated{% else %}Not Annotated{% endif %}</p>
                    </a>
                </div>
            </div>
            <div class="video-description">
                <a href="{{ video.video_file.url }}">
                    <p class="file">Title:{{ video.file_name }}</p>
                </a>
                <p class="uploader">Uploader: <a href="{{ video.uploader.url }}">{{ video.uploader }}</a>
                <p class="upload-time">Upload Time: {{ video.upload_time }}</p>
            </div>
        </div>
        {% endfor %}
    </div>



</body>
</html>
