{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Frame Annotator - Videos</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
    <link rel="stylesheet" href="{% static 'ripple.css' %}">

    <!--js File loader-->
    <script src="{% static 'ripples.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>
    <script src="{% static 'videoData.js' %}"></script>


</head>

<body>
    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'homepage' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'homepage' %}" class="navbar-l-link">Home</a>
            <a href="{% url 'videopage' %}" class="navbar-l-link">Videos</a>
            <a href="#exports" class="navbar-l-link">Exports</a>
        </div>
    
        <!-- Right section of the navbar -->
        <div class="navbar-right">
            <a href="{% url 'login' %}" class="navbar-login">Login</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <div class="search-icon" onclick="performSearch()">
                    <span>&#128269;</span>
                </div>
            </div>
        </div>
    </div>

    <!-- 筛选功能 -->
    <div class="filter-container">
        <form action="{% url 'videopage' %}" method="get">
            

            <label for="upload-time">上传时间:</label>
            <input type="date" id="upload-time" name="upload_time">

            <label for="uploader">上传者:</label>
            <input type="text" id="uploader" name="uploader">

            <label for="started-annotation">是否开始标注:</label>
            <input type="checkbox" id="started-annotation" name="started_annotation">

            <label for="completed-annotation">是否完成标注:</label>
            <input type="checkbox" id="completed-annotation" name="completed_annotation">

            <label for="accepted-annotation">标注已审核:</label>
            <input type="checkbox" id="accepted-annotation" name="accepted_annotation">

            <label for="sort-by">排序方式:</label>
            <select id="sort-by" name="sort_by">
                <option value="upload_time">上传时间</option>
                <option value="uploader">上传者</option>
                <option value="started_annotation">是否开始标注</option>
                <option value="completed_annotation">是否完成标注</option>
                <option value="accepted_annotation">标注已审核</option>
            </select>

            <input type="submit" value="筛选">
        </form>
    </div>

</body>

</html>
