{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Frame Annotator - Videos</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
    <link rel="stylesheet" href="{% static 'ripple.css' %}">
    <link rel="stylesheet" href="{% static 'videos.css' %}">

    <!--js File loader-->
    <script src="{% static 'ripples.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>


</head>

<body>
    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'homepage' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'homepage' %}" class="navbar-l-link">Home</a>
            <a href="{% url 'videopage' %}" class="navbar-l-link">Videos</a>
            <a href="#exports" class="navbar-l-link">Exports</a>
        </div>
    
        <!-- Right section of the navbar -->
        <div class="navbar-right">
            <a href="{% url 'login' %}" class="navbar-login">Login</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <div class="search-icon" onclick="performSearch()">
                    <span>&#128269;</span>
                </div>
            </div>
        </div>
    </div>

    <!-- 筛选功能 -->
    
    <!-- 视频列表 -->
    <div class="video-grid">
        {% for video in videos %}
        <div class="video-item">
            <div class="video-thumbnail">
                <a href="{% url 'video_detail' video.id %}">
                    <img src="{{ video.preview_image_path.url }}" alt="Video Preview">
                </a>
            </div>
            <div class="video-info">
                <p><strong>Title:</strong> {{ video.title }}</p>
                <p><strong>Uploader:</strong> {{ video.uploader }}</p>
                <p><strong>Annotated:</strong> {% if video.annotated %} Yes {% else %} No {% endif %}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>
