{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>Export</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'export.css' %}">

    <!--js File loader-->
    <script src="{% static 'search.js' %}"></script>
    <script src="{% static 'loaddata.js' %}"></script>
    <script src="{% static 'export.js' %}"></script>
    <script src="{% static 'auth_check.js' %}"></script>
    <script>
        // 将用户登录状态传递给 JavaScript 文件
        var isAuthenticated = {{ user.is_authenticated|lower }};
        document.getElementById("auth-check").setAttribute("data-is-authenticated", isAuthenticated);
    </script>
</head>

<body>
    <div id="auth-check" data-is-authenticated=""></div>
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'introduction' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'upload' %}" class="navbar-l-link">Upload</a>
            <a href="{% url 'video_list' %}" class="navbar-l-link">Videos</a>
            <a href="{% url 'export' %}" class="navbar-l-link">Exports</a>
        </div>

       <!-- Right section of the navbar -->
       <div class="navbar-right">
        {% if user.is_authenticated  %}
        <a href="{% url 'login' %}?next={{ request.path }}" class='login-inf'>Welcome, {{ user.username }}!</a>
        <span class="navbar-separator">|</span>
        <a href="{% url 'logout' %}?next={{ request.get_full_path }}" class='navbar-logout'>Logout</a>
        {% else  %}
        <a href="{% url 'login' %}?next={{ request.path }}" class="navbar-login">Login</a>
        <span class="navbar-separator">|</span>
        <a href="{% url 'register' %}?next={{ request.path }}" class="navbar-register">Register</a>
        {% endif  %}
        </div> 
    </div>
    

    <!-- Video Selection Form -->
    <div class="video-format-selector">
        <form class="videoSelection" id="videoSelectionForm">
            {% if videos %}
                <label for="videoSelect">Select Video:</label>
                <select id="videoSelect" name="video">
                    {% for video in videos %}
                        <option value="{{ video.id }}">{{ video.file_name }}</option>
                    {% endfor %}
                </select>
                <button type="button" onclick="loadVideoAnnotations()">Load Data</button>
            {% else %}
                <label for="videoSelect">Loaded Video:</label>
                <select id="videoSelect" name="video">
                    <option value="{{ video.id }}">{{ video.file_name }}</option>
                </select>
            {% endif %}
        </form>
    
        <div class="formatSelection">
            <p class="formatP">Format:</p>
            <label class="formatL" for="csvCheckbox">
                <input type="checkbox" id="csvCheckbox" name="format" value="csv"> CSV
            </label>
            <label class="formatL" for="jsonCheckbox">
                <input type="checkbox" id="jsonCheckbox" name="format" value="json"> JSON
            </label>
            <button id="exportBtn" class="formatB" type="button" onclick="exportAnnotations()">Export</button>
        </div>
    </div>

    <div class="info-player-data">
        <div class="info-player">
            <div class="videoplayer">
                <video id="VideoLoaded" controls="false">
                    <source src="{{ MEDIA_URL }}{{ video.video_file }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="videoinfo-container">
                <div class="infos">
                    <p>Video Name: {{ video.file_name }}</p>
                    <p>Video Uploader: {{ video.uploader }}</p>
                    <p>Upload Time: {{ video.upload_time }}</p>
                    <p>Annotation Progress: {{ annotation_progress }}%</p>
                    {% if frame_annotations %}
                        {% with first_annotation=frame_annotations.0 %}
                            <p>Annotator: {{ first_annotation.annotator }}</p>
                        {% endwith %}
                    {% else %}
                        <p>Annotator: None</p>
                    {% endif %}
                    <p>Total Frames: {{ video_frames.video_frames_total }}</p>
                    <a href="{{ MEDIA_URL }}{{ video.video_file }}" class="video-list-link" download>Download Video File</a>
                </div>
            </div>
        </div>
        <div class="data">
            {% if frame_annotations %}
        <table class="annotation-table">
            <thead>
                <tr>
                    <th class="sortable" data-column="frame-type">
                        <label><input type="checkbox" class="column-checkbox" value="frame_type" checked>Type</label>
                    </th>
                    <th class="sortable" data-column="frame-number">
                        <label><input type="checkbox" class="column-checkbox" value="frame_number" checked>Number</label>
                    </th>
                    <th class="sortable" data-column="rating">
                        <label><input type="checkbox" class="column-checkbox" value="rank" checked>Rating</label>
                    </th>
                    <th class="sortable" data-column="annotated">
                        <label><input type="checkbox" class="column-checkbox" value="is_annotated" checked>Annotated</label>
                    </th>
                    <th class="sortable" data-column="annotator">
                        <label><input type="checkbox" class="column-checkbox" value="annotator" checked> Annotator</label>
                    </th>
                    <!-- Add other columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for annotation in frame_annotations %}
                    <tr>
                        <td>{{ annotation.frame_type }}</td>
                        <td>{{ annotation.frame_number }}</td>
                        <td>{{ annotation.rank }}</td>
                        <td>{{ annotation.is_annotated }}</td>
                        <td>{{ annotation.annotator }}</td>
                        <!-- Add other columns as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            {% else %}
                <p class="noti-info">No frame annotations available</p>
            {% endif %}
        </div>
    </div>
</body>

</html>
