{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Frame Annotator</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
    <link rel="stylesheet" href="{% static 'ripple.css' %}">

    <!--js File loader-->
    <script src="{% static 'ripples.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>
    
    <!-- 引入 jQuery 库 -->
    

    <!-- 引入处理表单提交的JavaScript文件 -->
    <script src="{% static 'upload.js' %}"></script>

</head>

<body>

    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'index' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'index' %}" class="navbar-l-link">Home</a>
            <a href="{% url 'videopage' %}" class="navbar-l-link">Videos</a>
            <a href="export" class="navbar-l-link">Exports</a>
        </div>
        
    
        <!-- Right section of the navbar -->
        <div class="navbar-right">
            <a href="#login" class="navbar-r-link">Login</a>
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <div class="search-icon" onclick="performSearch()">
                    <span>&#128269;</span>
                </div>
            </div>
        </div>
    </div>
    

    <!-- 页面内容 -->
    <div class="content" style="padding-top: 20px;">
        <!-- 居中显示文本 -->
        <div style="margin-bottom: 30px; user-select: none;">
            <h2 style="margin-bottom: 40px; margin-top: 30px;">Hello, this is the video frame annotator tool.</h2>
            <p style="margin-bottom: 5px;">Please upload the file to start the annotation.</p>
            <p style="margin-bottom: 5px;">You can go to Videos to check the already uploaded files.</p>
        </div>
    
        <!-- 上传文件 -->
        <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data" id="uploadForm">
            {% csrf_token %}
            
            <!-- 初始upload按钮，点击选文件，按钮变为changefile，旁边出现新upload按钮-->
            <div style="margin-top: 20px;" user-select: none;>
                <label class="upload-btn" for="fileInput" id="chooseFileBtn">Upload</label>
                <input type="file" name="file" id="fileInput" style="display: none;" onchange="showFileName(this)" accept=".mp4, .avi, .mov" />
                <button class="submit-btn" type="button" id="uploadFileBtn" style="display: none;" onclick="uploadFile()">Upload</button>
            </div>
        
            <div class="choosefilename" style="margin-top: 20px;" user-select: none;>
                <span id="fileNameArea" style="display: none;"></span>
            </div>
        </form>
        
    </div>  

</body>

</html>
