{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
    <link rel="stylesheet" href="{% static 'ripple.css' %}">
    <link rel="stylesheet" href="{% static 'introduction.css' %}">

    <!--js File loader-->
    <script src="{% static 'ripples.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>

    <!-- 引入处理表单提交的JavaScript文件 -->

</head>

<body>

    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'introduction' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'upload' %}" class="navbar-l-link">Upload</a>
            <a href="{% url 'video_list' %}" class="navbar-l-link">Videos</a>
            <a href="#exports" class="navbar-l-link">Exports</a>
        </div>
        
    
        <!-- Right section of the navbar -->
        <div class="navbar-right">
            <a href="{% url 'login' %}" class="navbar-login">Login</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <div class="search-icon" onclick="performSearch()">
                    <span>&#128269;</span>
                </div>
            </div>
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            {% else %}
            <form method='post' action="{% url 'login' %}">
                {% csrf_token %}
                <button type="submit">Login</button>
            </form>
            {% endif %}
        </div>
    </div>
    

    <!-- 页面内容 -->
 

</body>

</html>
