{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">



    <title>Introduction</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
    <link rel="stylesheet" href="{% static 'ripple.css' %}">
    <link rel="stylesheet" href="{% static 'introduction.css' %}">

    <!--js File loader-->
    <script src="{% static 'ripples.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>

    <!-- 引入处理表单提交的JavaScript文件 -->

</head>

<body>

    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'introduction' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'upload' %}" class="navbar-l-link">Upload</a>
            <a href="{% url 'video_list' %}" class="navbar-l-link">Videos</a>
            <a href="#exports" class="navbar-l-link">Exports</a>
        </div>
        
    
        <!-- Right section of the navbar -->
        <div class="navbar-right">
            {% if user.is_authenticated %}
            <a href="{% url 'login' %}" class='login-inf'>Welcome, {{ user.username }}!</a>
            <a href="{% url 'logout' %}" class='navbar-logout'>Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="navbar-login">Login</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
            {% endif %}
            <div class="search-container">
                <form method="get" action="{% url 'search' %}">
                    <input type="text" name="search_query" placeholder="Search..." value="{{ query }}">
                    <button type="submit" class="search-icon">&#128269;</button>
                </form>
            </div>
        </div>
    </div>
    

    <!-- 
        <div class="search-container">
                <input type="text" placeholder="Search...">
                <div class="search-icon" onclick="performSearch()">
                    <span>&#128269;</span>
                </div>
            </div>
        
        页面内容 -->
 

</body>

</html>
