{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">



    <title>Introduction</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'ripple.css' %}">
    <link rel="stylesheet" href="{% static 'introduction.css' %}">

    <!--js File loader-->
    <script src="{% static 'ripples.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>

    <!-- 引入处理表单提交的JavaScript文件 -->

</head>

<body>

    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'introduction' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'upload' %}" class="navbar-l-link">Upload</a>
            <a href="{% url 'video_list' %}" class="navbar-l-link">Videos</a>
            <a href="{% url 'export' %}" class="navbar-l-link">Exports</a>
        </div>
        
    
        <!-- Right section of the navbar -->
        <div class="navbar-right">
            {% if user.is_authenticated %}
            <a href="{% url 'login' %}?next={{ request.path }}" class='login-inf'>Welcome, {{ user.username }}!</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'logout' %}?next={{ request.get_full_path }}" class='navbar-logout'>Logout</a>
            {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" class="navbar-login">Login</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
            {% endif %}
            <div class="search-container">
                <form method="get" action="{% url 'search' %}">
                    <input type="text" name="search_query" placeholder="Search..." value="{{ query }}">
                    <button type="submit" class="search-icon">&#128269;</button>
                </form>
            </div>
        </div>
    </div>

    <!--页面内容 -->
    <div class="introduction-content">
        <nav role="navigation">
            <ul class="outline">
                <li class="chapter active" data-level="1.1">
                    <a href="#section-1">
                        Introduction
                    </a>
                </li>
                <ul class="articles"> 
                    <li class="chapter" data-level="1.2.1">
                        <a href="#section-2">
                            Upload
                        </a>
                    </li>
                    <li class="chapter" data-level="1.2.2">
                        <a href="#section-3">
                            Videos
                        </a>
                    </li>
                    <li class="chapter" data-level="1.2.3">
                        <a href="#section-4">
                            Annotation
                        </a>
                    </li>
                    <li class="chapter" data-level="1.2.4">
                        <a href="#section-5">
                            Exports
                        </a>
                    </li>
                </ul>
            </ul>
        </nav>  
    </div>

    <div class="outline-body">
        <div class="body-inner">
            <div class="page-wrapper" tabindex="-1" role="main">
                <div class="page-inner">

                    <section id="section-1" class="normal markdown-section active-section">
                        <h1 style="font-size: 20px;">Introduction</h1>
                        <p style="font-size: 20px;">Frame Annotator is designed for capturing and annotating information for each frame of a video.</p>
                    </section>

                    <section id="section-2" class="normal markdown-section">
                        <h2>Upload</h2>
                        <p>The video upload process consists of three steps:</p>
                        <ol>
                            <li>Users need to register for a personal account and log in.</li>
                            <li>After logging in, return to the upload video interface to upload your video. 
                                Note: there are no restrictions on the video file format; All uploaded videos are automatically converted to the .mp4 format in the background.</li>
                            <li>Upon successful upload, an information box will confirm the successful upload. Finally, you can click on the 'videos' interface to proceed with editing.</li>
                        </ol>
                        <img src="{% static 'screenshot/upload.jpg' %}" alt="Image" class="small-image1">
                    </section>

                    <section id="section-3" class="normal markdown-section">
                        <h3>Videos</h3>
                        <h3>Video List Display:</h3>
                        <ul>
                            <li>Displays a list of uploaded videos, including those uploaded by the user and others.</li>
                            <li>Each video provides detailed information such as the file name, uploader, and upload time.</li>
                            <li>Features a filtering option for quick access to desired videos based on criteria such as file name, uploader, and whether the video has been annotated.</li>
                            <img src="{% static 'screenshot/videos1.jpg' %}" alt="Image" class="small-image2">
                        </ul>
                    </section>

                    <section id="section-4" class="normal markdown-section">
                        <h4>Frame Annotation:</h4>
                        <p>Located in the top left of the video, there is a 'Not Annotated' label that can be clicked to enter the frame annotation interface.</p>
                        <p>The annotation page consists of three parts:</p>
                        <ol>
                            <li><strong>Play Video</strong></li>
                            <li><strong>Frame Generation:</strong> Click the 'Frame Generation' button to obtain all frames of the video. Note: This process may take some time! Once all frames are loaded, a notification will appear, and the interface needs to be refreshed.</li>
                            <li><strong>Image Selection:</strong> The right side of the video player displays all images representing the total duration of the video. By randomly selecting an image, you can obtain four frames within 1 second below the video player. The selected image is also displayed in the player.</li>
                        </ol>
                        <p>Users can annotate the selected images, indicating attributes such as 'good' or 'bad.' The annotations are automatically saved.</p>
                        <img src="{% static 'screenshot/videos2.jpg' %}" alt="Image" class="small-image3">
                    </section>

                    <section id="section-5" class="normal markdown-section">
                        <h5>Exports</h5>
                        <p>The "Exports" interface serves as a dedicated export page with the primary purpose of facilitating the filtering of frame annotation information based on specific users and videos. This feature enables users to tailor their exports according to their criteria, enhancing flexibility in data retrieval.</p>
                        <p>One key functionality of this interface is the ability to export the filtered frame annotation data from the database. The exported data is formatted in CSV (Comma-Separated Values) file format, ensuring compatibility and ease of use for further analysis or integration with other tools.</p>
                        <p>The exported information encompasses several crucial details associated with each frame annotation. This includes the video file name, providing a reference to the source material. Additionally, details about the uploader, upload time, frame type, frame number, and frame rating are included, offering a comprehensive set of information for analytical or archival purposes. The "Exports" interface thus streamlines the process of obtaining specific frame annotation data based on user-defined parameters.</p>
                        <img src="{% static 'screenshot/export.jpg' %}" alt="Image" class="small-image4">
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
