{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    
    <title>Login</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">

    <!--js File loader-->
    <script src="{% static 'user.js' %}"></script>

</head>

<body>
    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'introduction' %}" class="navbar-title">Frame Annotator</a>
        </div>
        
    
        <!-- Right section of the navbar -->
        <div class="navbar-right">
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
        </div>
    </div>

    <div class="content" style="padding-top: 20px;">
        <h2>Login</h2>
        <form method="post" id="LoginForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>

    
    
</body>
</html>