{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">


    <title>Upload</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'upload.css' %}">
    <link rel="stylesheet" href="{% static 'ripple.css' %}">

    <!--js File loader-->
    <script src="{% static 'ripples.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>
    
    <!-- 引入 jQuery 库 -->
    

    <!-- 引入处理表单提交的JavaScript文件 -->
    <script src="{% static 'upload.js' %}"></script>

</head>

<body>

    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'introduction' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'upload' %}" class="navbar-l-link">Upload</a>
            <a href="{% url 'video_list' %}" class="navbar-l-link">Videos</a>
            <a href="#exports" class="navbar-l-link">Exports</a>
        </div>
        
    
        <!-- Right section of the navbar -->
        <div class="navbar-right">
            {% if user.is_authenticated  %}
            <a href="{% url 'login' %}" class='login-inf'>Welcome, {{ user.username }}!</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'logout' %}" class='navbar-logout'>Logout</a>
            {% else  %}
            <a href="{% url 'login' %}" class="navbar-login">Login</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
            {% endif  %}
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <div class="search-icon" onclick="performSearch()">
                    <span>&#128269;</span>
                </div>
            </div>
        </div>
    </div>
    

    <!-- 页面内容 -->
    <div class="content" style="padding-top: 20px;">
        <!-- 居中显示文本 -->
        <div style="margin-bottom: 30px; user-select: none;">
            <h2 style="margin-bottom: 40px; margin-top: 30px;">Hello, this is the video frame annotator tool.</h2>
            <p style="margin-bottom: 5px;">Please upload the file to start the annotation.</p>
            <p style="margin-bottom: 5px;">You can go to Videos to check the already uploaded files.</p>
        </div>
    
        <!-- 上传文件 -->
        <!-- form 的 id 决定了调用form里面的哪个form，也决定了js里面处理哪个任务 -->
        <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data" id="UploadForm">
            {% csrf_token %}
            
            <!-- 初始upload按钮，点击选文件，按钮变为changefile，旁边出现新upload按钮-->
            <div style="margin-top: 20px;" user-select: none;>
                <label class="upload-btn" for="fileInput" id="chooseFileBtn">Upload</label>
                <input type="file" name="file" id="fileInput" style="display: none;" onchange="showFileName(this)" accept=".mp4, .avi, .mov, .mkv" />
                <button class="submit-btn" type="button" id="uploadFileBtn" style="display: none;" onclick="uploadFile()">Upload</button>
            </div>
        
            <div class="choosefilename" style="margin-top: 20px;" user-select: none;>
                <span id="fileNameArea" style="display: none;"></span>
            </div>
        </form>
        
    </div>  

</body>

</html>
