{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>Annotation Tool</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'annotation.css' %}">

    <!--js File loader-->
    <script src="{% static 'search.js' %}"></script>
    <script src="{% static 'frameannotate.js' %}"></script>
    <script src="{% static 'framegeneration.js' %}"></script>
    <script src="{% static 'framedisplay.js' %}"></script>
    
    <!-- 引入 jQuery 库 -->
    

    <!-- 引入处理表单提交的JavaScript文件 -->
    <script src="{% static 'upload.js' %}"></script>
    <script src="{% static 'user.js' %}"></script>

</head>

<body>

    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'introduction' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'upload' %}" class="navbar-l-link">Upload</a>
            <a href="{% url 'video_list' %}" class="navbar-l-link">Videos</a>
        </div>

        <!-- Right section of the navbar -->
        <div class="navbar-right">
            {% if user.is_authenticated  %}
            <a href="{% url 'login' %}" class='login-inf'>Welcome, {{ user.username }}!</a>
            <a href="{% url 'logout' %}" class='navbar-logout'>Logout</a>
            {% else  %}
            <a href="{% url 'login' %}" class="navbar-login">Login</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
            {% endif  %}
        </div>
    </div>
    
    <!-- Page Content -->
    <!-- Video Info -->
    <div class="video-info">
        <a href="{{ video.video_file.url }}" class="file-name">Current Video: {{ filename }}</a>
        <span class="separator">|</span>
        <a href="{{ video.uploader.url }}" class="uploader">Uploader: {{ uploader }}</a>
    </div>

    <!-- First Part -->
    <!-- video player and 60 frames -->
    <div class="player-frames">
        <div class="player-btns">
            <div class="video-player">
                <video id="VideoLoaded" controls="false">
                    <source src="{{ MEDIA_URL }}{{ video.video_file }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="btn-container-player">
                <div class="player-controls">
                    <button id="playPauseBtn">Play</button>
                    <button id="framegenerationBtn" onclick="generateFrames({{ video.id }})">Frame Generation</button>
                    <button id="exportBtn">Export</button>
                    <div id="buttonStatus"></div>
                </div>
            </div>
        </div>
        <div class="frames-btns">  
            <div class="frames-container">
                    {% for frame_path in frame_paths_60 %}
                        {% if frame_folder_60 %}
                        <div class="frames-60" >
                            <img src="{{ MEDIA_URL }}{{ frame_path }}" alt="frame">
                        </div>
                        {% else %}
                        <div class="noti-info"> Frame not exist. Please first generate the frame and refresh the page </div>
                        {% endif %}
                    {% endfor %}
            </div>

            <div class="inf-btns">
                <div class="frame-rank-inf">
                    <div class="choosed-frame-typ">Typ: <span id="choosed-frame-type">
                        {{ choosed_frame_typ }}</span>
                    </div>
                    <div class="choosed-frame-num">Num: <span id="choosed-frame-number">
                        {{ choosed_frame_number }}</span>
                    </div>
                    <div class="choosed-rank">Rating:<span id="choosed-rank">{{ choosed_rank }}</span></div>
                </div>
                <div class="btn-container-rank">  
                    <div class="rank-notif" id="rank-notif" style="display: none;">Saved</div>
                    <div class="frame-rank-btns">
                        <div id="video-id-container" data-video-id="{{ video.id }}" style="display: none;"></div>
                        <button class="rank-btns" id="rank0" onclick="rateFrame('clear')">Clear</button>
                        <button class="rank-btns" id="rank1" onclick="rateFrame('Sehr schlecht')">Sehr schlecht</button>
                        <button class="rank-btns" id="rank2" onclick="rateFrame('Schlecht')">Schlecht</button>
                        <button class="rank-btns" id="rank3" onclick="rateFrame('Durchschnittlich')">Durchschnittlich</button>
                        <button class="rank-btns" id="rank4" onclick="rateFrame('Gut')">Gut</button>
                        <button class="rank-btns" id="rank5" onclick="rateFrame('Sehr gut')">Sehr gut</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Progress Container -->
    <div class="progress-container">
        <div class="progress-bar" id="progressBar">
            <div class="progress-indicator" id="progressIndicator"></div>
        </div>
        <div class="frame-time-indicator">
            <div class="current-position" style="display: none;">
                Annotation Process: <span id="current-Frame">{{ choosed_frame_number }}</span>/<span id="max_frame_number">{{ max_frame_number }}</span>
            </div>
            <div class="current-position-gen" style="display: none;">
                Generation Process: <span id="current-Frame-gen">0</span>/<span id="max_frame_number-gen">0</span>
            </div>
            <div class="reuseRankBtn" style="display: none;">
                <button id="set-Same-Rank-Btn" onclick="setSameRankForSubframes({{ choosed_rank }})">Set Same Rank For Subframes</button>
            </div>
        </div>
    </div>

    <!-- Second Part -->
    <div class="frames-container-4-btns">
        <div class="frames-container-4">
            {% if frame_folder_4 %}
                <div class="noti-info"> Frame not loaded yet. Choose frame above to load relevant detailed frames here. </div>
            {% else %}
                <div class="noti-info"> Frame not exist. Please first generate the frame and refresh the page </div>
            {% endif %}
        </div>
    </div>
</body>

</html>
