{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Annotation Tool</title>
    
    <!--css File loader-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'annotation.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">

    <!--js File loader-->
    <script src="{% static 'search.js' %}"></script>

    <script src="{% static 'videoplayer.js' %}"></script>
    
    <!-- 引入 jQuery 库 -->
    

    <!-- 引入处理表单提交的JavaScript文件 -->
    <script src="{% static 'upload.js' %}"></script>
    <script src="{% static 'user.js' %}"></script>

</head>

<body>

    <!-- 导航栏 -->
    <div class="navbar">
        <!-- Left section of the navbar -->
        <div class="navbar-left">
            <a href="{% url 'introduction' %}" class="navbar-title">Frame Annotator</a>
            <a href="{% url 'upload' %}" class="navbar-l-link">Upload</a>
            <a href="{% url 'video_list' %}" class="navbar-l-link">Videos</a>
        </div>

        <!-- Right section of the navbar -->
        <div class="navbar-right">
            <a href="{% url 'login' %}" class="navbar-login">Login</a>
            <span class="navbar-separator">|</span>
            <a href="{% url 'register' %}" class="navbar-register">Register</a>
        </div>
    </div>
    
    <!-- Page Content -->
    <!-- Video Info -->
    <div class="video-info">
        <a href="{{ video.video_file.url }}" class="file-name">Current Video: {{ filename }}</a>
        <span class="separator">|</span>
        <a href="{{ video.uploader.url }}" class="uploader">Uploader: {{ uploader }}</a>
    </div>

    <!-- First Part -->
    <!-- video player and frames -->
    <div class="player-frames">
        <div class="player-btns">
            <div class="video-player">
                <video id="VideoLoaded" controls="false">
                    <source src="{{ MEDIA_URL }}{{ video.video_file }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="btn-container">
                <div class="player-controls">
                    <button id="playPauseBtn">Play</button>
                    <button id="mainframeBtn">Frame Generation x60</button>
                    <button id="saveBtn">Save Annotation</button>
                    <button id="exportBtn">Export</button>
                    <div id="buttonStatus"></div>
                </div>
            </div>
        </div>
        <div class="frames-btns">  
            <div class="frames-container">
                <div class="frames-row-1">
                    <div class="frame-60" id="frame-60">
                        <img src="{% static 'images-60.png' %}" alt="f60">
                    </div>
                    <div class="frame-120" id="frame-120">
                        <img src="{% static 'images-120.png' %}" alt="f120">
                    </div>
                    <div class="frame-180" id="frame-180">
                        <img src="{% static 'images-180.png' %}" alt="f180">
                    </div>
                    <div class="frame-240" id="frame-240">
                        <img src="{% static 'images-240.png' %}" alt="f240">
                    </div>
                </div> 
                <div class="frames-row-2">
                    <div class="frame-300" id="frame-300">
                        <img src="{% static 'images-300.png' %}" alt="f300">
                    </div>
                    <div class="frame-360" id="frame-360">
                        <img src="{% static 'images-360.png' %}" alt="f360">
                    </div>
                    <div class="frame-420" id="frame-420">
                        <img src="{% static 'images-420.png' %}" alt="f420">
                    </div>
                    <div class="frame-480" id="frame-480">
                        <img src="{% static 'images-480.png' %}" alt="f480">
                    </div>
                </div>
            </div>
            <div class="btn-container">
                
                <div class="frame-rank">
                    <button id="prev">Previous</button>
                    <button id="next">Next</button>
                    <div class="choosed-frame">Choosed Frame: {{choosed_frame}} </div>
                    <span class="separator">|</span>
                    <button id="rank0">Sehr schlecht</button>
                    <button id="rank1">Schlecht</button>
                    <button id="rank2">Durchschnittlich</button>
                    <button id="rank3">Gut</button>
                    <button id="rank4">Sehr gut</button>
                    <div id="buttonStatus"></div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Progress Container -->
    <div class="progress-container">
        <div class="progress-bar" id="progressBar" onclick="updateProgressBar(event)">
            <div class="progress-indicator" id="progressIndicator"></div>
        </div>
        <div class="frame-time-indicator">
            <div class="current-position">Current Frame: <span id="currentFrame">0</span>/<span id="totalFrames">0</span></div>
            <div class="current-time">Current Time: <span id="currentTime">0s</span>/<span id="totalTime">0s</span></div>
        </div>
    </div>

    <!-- Second Part -->
    <div class="5x30f-big-preview">
        <!-- 预览图的放大版本 -->
        <!-- 每个预览图上方的按钮：good, neutral, bad -->
        <!-- 显示当前预览图代表的帧范围 -->
    </div>
</body>

</html>
