/* Reset some default margin */
body, h1, h2, h3, h4, p {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 修改为最小高度，使内容能够超过一屏 */
    background: linear-gradient(to bottom, #d4dbe8 0%, #ffffff 20%, #a3c6e3 100%);
    margin: 0; /* 重置页面默认的 margin */
}
