/* Reset some default margin */
body, h1, h2, h3, h4, p {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 修改为最小高度，使内容能够超过一屏 */
    background: linear-gradient(to bottom, #d4dbe8 0%, #ffffff 20%, #a3c6e3 100%);
    margin: 0; /* 重置页面默认的 margin */
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background-color: antiquewhite;
}

@media (max-width: 600px) {
    .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}